﻿
@{
    Layout = null;
    var inc = Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.result);
    JArray joResponse = JArray.Parse(inc);
    //JArray value = (JArray) inc;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EmploeeyResult</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <style>
        .f-s{
            font-size:17px;
        }
    </style>
</head>
<body>
    <div class="container">
        <br /><br /><br />
        <div class="row">
            <div class="col-12 text-center">
                <img src="~/images/b.jpg" height="200" alt="Alternate Text" style="text-align:center" />
            </div>
        </div>
    </div>
    <br /><br />
    <div class="container">
        <div class="row">
            <div class="col-6">
                <p class="f-s"> <strong>Employee Name:</strong>  @joResponse[0]["EmployeeName"]</p>
                <p class="f-s"><strong>Employee Address:</strong> @joResponse[0]["EmployeeAddress"]</p>
            </div>
            <div class="col-6">
                <p class="f-s"><strong>Employee Phone:</strong> @joResponse[0]["EmployeePhone"]</p>
                <p class="f-s"><strong>Employee Email:</strong> @joResponse[0]["EmployeeEmail"]</p>
            </div>
            
        </div>
    </div>
    <div class="container">
        <br />
        <div class="row">
            <div class="col-12 ">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="width:5%;text-align:center">#</th>
                            <th scope="col">Test Name</th>
                            <th scope="col">Test Value</th>
                            <th scope="col">Patiant Name</th>
                            <th scope="col">Patiant Age</th>
                            <th scope="col">Pataint Gender</th>
                            <th scope="col">ResultValue</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ var c = 1; }
                        @foreach (var item in joResponse)
                        {
                            <tr>
                                <th class="text-center">@(c++)</th>
                                <td>@item["TestName"]</td>
                                <td>@item["TestValue"]</td>
                                <td>@item["PatiantFirstName"] @item["PatiantLastName"]</td>
                                <td>@item["PatiantAge"]</td>
                                <td>@item["PataintGender"]</td>
                                <td>@item["ResultValue"]</td>
                            </tr>
                        }
                        
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
</body>
</html>
