﻿
@{
    Layout = null;
    var inc = Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.result);
    JArray joResponse = JArray.Parse(inc);
    var data = (JObject)joResponse[0];
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DispatcerPataint</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="container">
        <br /><br /><br />
        <div class="row">
            <div class="col-12 text-center">
                <img src="~/images/b.jpg" height="200" alt="Alternate Text" style="text-align:center" />
            </div>
        </div>
    </div>
    <br /><br />
    <div class="container">
        <div class="row">
            <div class="col-4">
                <p class="f-s"> <strong>Patiant Name:</strong>  @joResponse[0]["PatiantFirstName"] @joResponse[0]["PatiantLastName"]</p>
            </div>
            <div class="col-4">
                <p class="f-s"><strong>Patiant Age:</strong> @joResponse[0]["PatiantAge"]</p>
            </div>
            <div class="col-4">
                <p class="f-s"><strong>Pataint Gender:</strong> @joResponse[0]["PataintGender"]</p>
            </div>
        </div>
    </div>
    <div class="container">
        <br />
        <div class="row">
            <div class="col-12 ">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="width:5%;text-align:center">#</th>
                            <th scope="col">Test Name</th>
                            <th scope="col">Test Value</th>
                            <th scope="col">Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ var c = 1; }
                        @foreach (var item in joResponse)
                        {
                            <tr>
                                <th class="text-center">@(c++)</th>
                                <td>@item["testName"]</td>
                                <td>@item["testValue"]</td>
                                <td>@item["Value"]</td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>

    </div>

</body>
</html>
