﻿@model FinalMidcalLab.Models.Sample

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Sample</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patient.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SampleType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SampleType.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
