﻿@{
    Layout = null;
    ViewData["Title"] = "Report";
    var inc = Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.result);
    JObject joResponse = JObject.Parse(inc);
    JArray value = (JArray)joResponse["Value"];
    var s = value[0];
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Report</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="container">
        <br /><br /><br />
        <div class="row">
            <div class="col-12 text-center" >
            <img src="~/images/b.jpg"  height="200" alt="Alternate Text" style="text-align:center" />
            </div>
        </div>
    </div>
    <br /><br />
    <div class="container">
        <br />
        <br />
        <div class="row">
            <div class="col-12 " >
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th colspan="2" class="text-center" style="font-size:23px">Employee</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Employee Name</th>
                            <td>@s["EmployeeName"]</td>
                        </tr>
                        <tr>
                            <th>Employee Address</th>
                            <td>@s["EmployeeAddress"]</td>
                        </tr>
                        <tr>
                            <th>Employee Gender</th>
                            <td>@s["EmployeeGender"]</td>
                        </tr>
                        <tr>
                            <th>Employee Phone</th>
                            <td>@s["EmployeePhone"]</td>
                        </tr>
                        <tr>
                            <th colspan="2" class="text-center" style="font-size:23px">Test</th>
                        </tr>
                        <tr>
                            <th>Test Name</th>
                            <td>@s["TestName"]</td>
                        </tr>
                        <tr>
                            <th>Test Value</th>
                            <td>@s["TestValue"]</td>
                        </tr>
                        <tr>
                            <th colspan="2" class="text-center" style="font-size:23px">Patient</th>
                        </tr>
                        <tr>
                            <th>Patiant Name</th>
                            <td>@s["PatiantFirstName"] @s["PatiantLastName"] </td>
                        </tr>
                        <tr>
                            <th>Patiant Age</th>
                            <td>@s["PatiantAge"]</td>
                        </tr>
                        <tr>
                            <th>Patiant Gender</th>
                            <td>@s["PataintGender"]</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <br /><br />
        <div class="row">
            <div class="col-12 text-center">
                <h1>
                    Result Value: @s["ResultValue"]
                </h1>
            </div>
        </div>
    </div>
</body>
</html>
